* {
    margin: 0;
    padding: 0;
}

/* 

COLORES

#001524    AZUL

#15616D    MARINO

#FFECD1    CREMA

#FEFAE0    BLANCO

#F8F8F8    SEGUNDO BLANCO

#FF7D00    NARANJA

#78290F    MARRON

#C4CBC5    GRIS

rgb(243, 243, 243); GRIS CLARITO

*/

@font-face {
    font-family: titulo;
    src: url(../ASSETS/FONTS/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: textoRegular ;
    src: url(../ASSETS/FONTS/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

@font-face {
    font-family: textoMedium ;
    src: url(../ASSETS/FONTS/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf);
}

@font-face {
    font-family: infoRegular;
    src: url(../ASSETS/FONTS/infoRegular.ttf);
}

@font-face {
    font-family: infoBold;
    src: url(../ASSETS/FONTS/infoBold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../ASSETS/FONTS/Montserrat-Light.ttf);
}

@font-face {
    font-family: montserratMedium;
    src: url(../ASSETS/FONTS/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserratRegular;
    src: url(../ASSETS/FONTS/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserratBold;
    src: url(../ASSETS/FONTS/Montserrat-Bold.ttf);
}


html {
    scroll-behavior: smooth;
    
}


body {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    
    
}

@media screen and  (max-width: 319px) {
    
    body {
        display: none;
    }
}
    



/* ------- HEADER ------ */


header {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    position: sticky;
    top: 0;
    z-index: 1;
   
    
}

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 170px;
    padding: 10px;
    position: sticky;
    top:-180px;
    z-index: 2;
    background-color: #001524;
    color:#FEFAE0;

}

.disclaimer p {
    font-family: montserrat;
    font-size: .8rem;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
}

#recharge {
    font-size: .6rem;
}

.mark {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: relative;
    
    
}

.logo {
    width: 60px;
    height: 60px;
    align-self: center;
}

.headerTitle {
    
    padding: 10px;
    font-family: montserratRegular;
    font-size: 1.6rem;
    letter-spacing: 8px;
    color:#001524
}

nav  {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(216, 216, 216); 
    
   
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: montserratRegular;
    font-size: .9rem;
    letter-spacing: 1px;
    color:#001524 ;
    
    
    
    
}




nav a i {
    padding-bottom: 5px;
}









/* ----- BANNER ----- */












.banner {
    width: 100%;
    min-height:200px;
    
    background: /* linear-gradient(to right, #15616D   20% , transparent), */
    url("../ASSETS/PICS/BANNER/BANNER.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: montserrat;
    font-size: .7rem;
    letter-spacing: 1.5px;
    /* text-align:center; */
    color:#001524;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    border-bottom: 1px solid rgb(216, 216, 216); ;
}

.banner h2 {
    width: 100%;
    /* font-size: .8rem; */
    padding-top: 30px;
    text-align: center;
    line-height: 25px;
}

.banner h3 {
    width: 100%;
    /* font-size: .7rem; */
    padding-bottom: 30px;
    font-family: montserrat;
    letter-spacing: 2px;
    text-align: center;
}

.banner button {
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    font-family: montserratRegular;
    letter-spacing: 2px;
    background-color: #001524;
    color: #FEFAE0;
}

.banner button i {
    padding-right: 5px;
    font-size: 1rem;
}












/* ----- GALERIA ----- */













.galery {
    display: flex;
    margin: 5px;
    overflow-y: scroll;
    scroll-behavior:smooth;
    
    
}



.pics img {
    display: flex;
    max-width: 40vw;
    max-height: 15vh;
    
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
}










/* ----- CATEGORIAS ------ */












.categorias {
    margin-top: 50px;
    font-family: montserratRegular;
    font-size: .9rem;
    letter-spacing: 2px;
    text-align: center;
    text-decoration:line-through;
}

.categoria {
    font-size: 1.2rem;
}

.categories {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.categories a {
    text-decoration: none;
}

.category {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 30px;
    
    
}

.category img {
    /* padding-top: 5px;
    border-top:1px solid rgb(243, 243, 243) ; */
    width: 100%;
    height: 100%;
    
}


.skewCategories {
    width: 210px;
    height: 20px;
    transform: skewY(-3deg);
    position: relative;
    bottom: 15px;
   background-color:rgb(212, 212, 212);
    
}


.textYbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    /* height: 75px; */
    padding: 5px;
    position: relative;
    bottom: 30px;
    background-color:rgb(212, 212, 212);
    color:#15616D;
    font-family: montserratMedium;
    text-align: center;
}

.textYbtn h2 {
    letter-spacing: 1px;
    padding: 5px;
}


.textYbtn button {
    width: 100px;
    height: 50px;
    background:linear-gradient(to top,#001524,#001524b2 )  ;
    color: #FEFAE0;
    font-family: montserratRegular;
    font-size: .9rem;
    letter-spacing: 1.5px;
    position: relative;
    top: 20px;
    border: none;
    border-radius: 5px;
    
}


.buzosYcamperas {
    margin: 50px 0;
}








/* ------ MAIN ------ */








.destacados {
    margin: 20px;
    font-family: montserratRegular;
    font-size: .9rem;
    letter-spacing: 2px;
    text-align: center;
    text-decoration:line-through;

}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.prodContainer {
    width: 40%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.prodContainer a {
    text-decoration: none;
}

.prodContainer img {
    /* border: 1px solid rgb(212, 212, 212) ; */
    display: flex;
    width: 140px;
    height: 200px;
    position: relative;
    top: 15px;
    
    

}

.skewDiv {
    display: flex;
    
    width: 144px;
    
    height: 15px;
    /* border: #001524 1px solid; */  
    background-color: rgb(212, 212, 212);
    transform: skewY(-3deg);
    position: relative;
    top: 4px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 15px;
    background-color: rgb(212, 212, 212);
    
    
}

.infoTitle {
    min-width: 135px;
    max-width: 140px;
    
}

.infoContainer h3 {
    padding-top: 5px;
    padding-bottom: 3px;
    font-family: montserrat;
    font-size: .8rem;
    letter-spacing: 1px;
    text-align: center;
    color: #001524;
}

.infoContainer a {
    padding: 2px;
    font-family: montserrat;
    font-size: .7rem;
    letter-spacing: 1.5px;
    
    color:#001524
}



.seeAll {
    width: 90vw;
    height: 50px;
    margin: 5vw;
    background: linear-gradient(to top,#001524,#001524b2 )  ;
    
    
    border: none;
    border-radius: 5px;
}

.seeAll a {
    text-decoration: none;
    font-family: montserratRegular;
    font-size: .9rem;
    letter-spacing: 2px;
    color: #FEFAE0;
}








/* ------ FOOTER ------- */









footer {
    height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(236, 236, 236);
    color:#001524;
}

footer h3 {
    font-family: montserratRegular;
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
}

footer h4 {
    font-family: montserrat;
    font-weight: lighter;
    letter-spacing: 2px;
}

.followUs  {
    max-width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-top: rgb(212, 212, 212) 1px solid;
}


.followUs h4 {
    font-family: montserrat;
    font-size: .8rem;
    padding-left: 10px;

}

.followUs a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0 10px;
    padding: 10px;
    font-family: montserrat;
    font-size: 1rem;
    text-decoration: none;
    color:#001524;
    
    font-size: 1.5rem;
    border-radius: 50%;
}


.shipments {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(212, 212, 212);
    
}

.shipments h4 {
    margin: 30px 0;
}


.ftLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ftLinks a {
    font-family: montserrat;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin: 5px;
    color: #001524;
}

.shipmentsWays {
    padding-top: 3px;
    border-top:solid 1px rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipmentsWays h3 {
    padding: 5px;
}

.oca {
    width: 75px;
    height: 25px;
    border-radius: 10px;
}

.cruceroExpress {
    width:100px;
    height: 30px;
}

.rutaCargo {
    width: 100px;
    height: 30px;}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .webs h4 {
    text-align: center;
    align-items: center;
} */

.contact a {
    
    text-decoration:none;
    display: flex;
    font-family: montserrat;
    color: #001524;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.contact i {
    margin-right: 10px;
}

.contact h4 {
    margin-top: 5px;
}

.maps {
    text-decoration: none;
    color: #001524;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maps img {
    width: 60px;
    height: 60px;
}

.maps h4 {
    padding-left: 5px;
}

.maps h5 {
    font-family: montserrat;
    font-size: .7rem;
    padding-left: 7px;
    letter-spacing: 1px;
}
.hour {
    text-align:center;
    line-height: 25px;
}


footer h5 {
    color: #9d9d9d
}




/* ------- PRODUCTO ---------- */











#productContainer {
    width: 100%;
    /* height: 300px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;

}

.aloneContainer {
    width: 90%;
    height: 100%;
    display: flex;
    
    
    
}


.aloneContainer img {
    
    width: 150px;
    height: 200px;
    margin-top: 20px;
    justify-content: center;
    
}

/* .info {
    color:#15616D;
} */


.aloneInfo {
    width: 100%;
    border-radius:0 20px 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgb(236, 236, 236);
    color: #001524;
    font-family: montserrat;
    line-height: 15px;
    letter-spacing: 1.5px;
    line-height: 20px;

}

.aloneInfo h2 {
    margin-top: 10px;
}

.aloneInfo h3 {
    margin: 10px 0;
    color: #1f8b9c;
    
}

.aloneInfo h4 {
    
    margin: 5px;

}




.aloneInfo h5 {
    text-align: start;
    font-size: .8rem;
    margin:5px 0px 5px 18px ;
    color:#15616D;
}


#divHref {
    width: 100%;
}


#number {
    
    padding: 3px;
    font-size: .6rem;
    position: relative;
    top: 5px;
    background-color: red;
    color: #FEFAE0;
    
    border-radius: 100%;
}




#logoFooter {
    display: none;
}






/* ---------DESKTOP----------- */











@media screen and (min-width: 1024px) {

    .disclaimer {
        height: 150px;
        top:-160px;

    
    }
    
    
    .disclaimer p {
        
        max-width: 1150px;
        font-size: .9rem;
        
        align-self: center;
        
    }

    #recharge {
        font-size: .9rem;
    }

    .logo {
        width: 100px;
        height: 100px;
        align-self: center;
    }

    .headerTitle {
        font-size:2rem ;
    }

   
    nav {
        margin: 0 200px;
    }

    nav a {
        font-size: 1rem;
    }

    header {
        top: 5px;  
    }

    .categorias {
        margin-top: 150px;
        font-size: 1.5rem;
        letter-spacing: 20px;
        text-decoration: underline;
    }

    .category {
        width: 25%;
        height: 25%;
    
    }

    .categories {
        margin: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .destacados {
        margin:50px;
        font-size: 1.5rem;
        text-decoration: underline;
        letter-spacing: 20px;
        
    }




    /* -------GALERIA-------- */




    .galery {
        overflow: hidden;
        overflow-x:scroll;
        scroll-behavior: smooth;
        
        
        
        
    }
    
    
    
    .pics img {
        display: flex;
        max-width: 40vw;
        max-height: 15vh;
        
        margin: 5px 15px;
        padding: 5px;
        border-radius: 25px;
    }








    /* -------MAIN------- */





    #mainContainer {
        margin: 0 200px;
        border-bottom: solid 1px rgb(216, 216, 216);
        
    }
    
    .prodContainer {
        width: 20%;
        margin: 30px 0;
        
        
        
    }
    
     /* .prodContainer a {
        text-decoration: none;
    }
    
    .prodContainer img {
        
        display: flex;
        width: 140px;
        height: 200px;
        position: relative;
        top: 15px;
        
        
    
    }
    
    .skewDiv {
        display: flex;
        
        width: 144px;
        
        height: 15px;
        background-color: rgb(212, 212, 212);
        transform: skewY(-3deg);
        position: relative;
        top: 4px;
    }
    
    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 15px;
        background-color: rgb(212, 212, 212);
        
        
    }
    
    .infoTitle {
        min-width: 135px;
        max-width: 140px;
        
    }
    
    .infoContainer h3 {
        padding-top: 5px;
        padding-bottom: 3px;
        font-family: montserrat;
        font-size: .8rem;
        letter-spacing: 1px;
        text-align: center;
        color: #001524;
    }
    
    .infoContainer a {
        padding: 2px;
        font-family: montserrat;
        font-size: .7rem;
        letter-spacing: 1.5px;
        
        color:#001524
    } */
     
    
    
    .seeAll {
        display: none;
    }
    
    





    /* ------ FOOTER ------- */




footer {
    margin-top: 20px;
    height: 600px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr) ;
    /* flex-direction: column;
    justify-content:space-around; */
    /* align-items: center; */
    background-color: rgb(236, 236, 236);
    color:#001524;
}

footer h3 {
    font-family: montserratRegular;
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
}

footer h4 {
    font-family: montserrat;
    font-weight: lighter;
    letter-spacing: 2px;
}

.followUs  {
    max-width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-top: rgb(212, 212, 212) 1px solid;
}


.followUs h4 {
    font-family: montserrat;
    font-size: .8rem;
    padding-left: 10px;

}

.followUs a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0 10px;
    padding: 10px;
    font-family: montserrat;
    font-size: 1rem;
    text-decoration: none;
    color:#001524;
    
    font-size: 1.5rem;
    border-radius: 50%;
}


.shipments {
    grid-column: 2 / 3;



    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid ;
    
}




.shipments h4 {
    margin: 30px 0;
}




.ftLinks {
    margin-top: 20px;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;


    /* display: flex;
    flex-direction: column;
    align-items:center; */
    
}

.ftLinks a {
    font-family: montserrat;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin: 5px;
    color: #001524;
}

.shipmentsWays {
    
    border-top:solid 1px rgb(236, 236, 236);
    
}

.shipmentsWays h3 {
    padding: 5px;
}

.oca {
    width: 75px;
    height: 25px;
    border-radius: 10px;
}

.cruceroExpress {
    width:100px;
    height: 30px;
}

.rutaCargo {
    width: 100px;
    height: 30px;}

.contact {
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .webs h4 {
    text-align: center;
    align-items: center;
} */

.contact a {
    
    text-decoration:none;
    display: flex;
    font-family: montserrat;
    color: #001524;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.contact i {
    margin-right: 10px;
}

.contact h4 {
    margin-top: 5px;
}

.maps {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-decoration: none;
    color: #001524;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maps img {
    width: 60px;
    height: 60px;
}

.maps h4 {
    padding-left: 5px;
}

.maps h5 {
    font-family: montserrat;
    font-size: .7rem;
    padding-left: 7px;
    letter-spacing: 1px;
}
.hour {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align:center;
    line-height: 25px;
}




/* ---------PRODUCTO--------- */




#productContainer {
    width: 100%;
    /* height: 300px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;

}

.aloneContainer {
    width: 400px;
    height: 100%;
    display: flex;
    
    
    
}


.aloneContainer img {
    
    width: 150px;
    height: 200px;
    margin-top: 20px;
    justify-content: center;
    
}

/* .info {
    color:#15616D;
} */


.aloneInfo {
    width: 100%;
    border-radius:0 20px 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgb(236, 236, 236);
    color: #001524;
    font-family: montserrat;
    line-height: 15px;
    letter-spacing: 1.5px;
    line-height: 20px;

}

.aloneInfo h2 {
    margin-top: 10px;

    font-size: 1.7rem;
}

.aloneInfo h3 {
    margin: 10px 0;
    color: #1f8b9c;
    
}

.aloneInfo h4 {
    font-size: 1.3rem;
    line-height: 25px;

}




.aloneInfo h5 {
    
    font-size: 1rem;
    line-height: 25px;
    
}


#divHref {
    width: 100%;
}


#number {
    
    padding: 3px;
    font-size: .6rem;
    position: relative;
    top: 5px;
    background-color: red;
    color: #FEFAE0;
    
    border-radius: 100%;
}





#logoFooter {
    display: block;
    width: 100px;
    height: 100px;
    grid-column: 2 / 2;
    grid-row: 4 / 5;
    justify-self: center;
}


.registered {
    
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    text-align:start;
    margin: 5px;
    align-self: last baseline;
}

}











